<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Features</h1>
</div>

<div class="row">
  <div class="card-deck mb-3 text-center col-md-6 offset-md-6">
    <p class="lead">Mokka use asymmetric cryptography standard for
      running validation over each state mutation (i.e. voting, log appending, gossip).
    Furthermore, Mokka is resistant to network splits thanks to generating special proof (which is based on strict quorum).</p>
  </div>

  <div class="card-deck mb-3 col-md-6 offset-md-6">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <ul class="mt-3 mb-4">
          <li>strong network split resistant properties</li>
          <li>explicit log compaction</li>
          <li>follower restoration</li>
          <li>strong security and state mutation validation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
